/* https://newtodesing.com/
v2.0 | 20110126
License: none (public domain)
*/


/*Load google font*/


/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none;
    text-transform: none;
    color: #4A90E2;
}

body {
    line-height: 1;
    font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 19px;
    background-color: #2c2c2c;
    color: #5f6060;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    color: #15171a;
    font-size: 17;
    line-height: 31px;
}

strong {
    font-weight: 600;
}

div, footer {
    box-sizing: border-box;
}

/* Reset ends */


/*Hero section*/

.container {
    max-width: 1100px;
    height: auto;
    margin: 30px auto;
}

h1.name {
    font-size: 70px;
    font-weight: 300;
    display: inline-block;
}


/*hero ends*/

/*skills & intrests*/

.sections {
    vertical-align: top;
    display: inline-block;
    width: 49.7%;
    height: 50px;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.list-card {
    margin: 30px 0;
}

.list-card .exp, .list-card div {
    display: inline-block;
    vertical-align: top;
}

.list-card .exp {
    margin-right: 15px;
    color: #4A90E2;
    font-weight: 600;
    width: 100px;
}

.list-card div {
    width: 70%;
}

.list-card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #5B6A9A;
    line-height: 26px;
    margin-bottom: 8px;
}

.list-card div span {
    font-size: 16px;
    color: #81899C;
    line-height: 22px;
}

/*skill and intrests ends*/

/* Achievements */


.cards {
    max-width: 1120px;
    display: block;
}


.card-active, .card:hover {
    transform: scale(1.01);
    transition: 0.2s ease-in;
    background-color: #fff;
    box-shadow: 0px 5px 10px -8px #ddd;
    cursor: pointer;
    color: #555555;
}

.card:hover .url h2 {
    color: #555555;
}

.card.active .url h2 {
    color: #555555;
}

.skill-level {
    display: inline-block;
    max-width: 160px;
}

.skill-level span {
    font-size: 35px;
    font-weight: 300;
    color: #5B6A9A;
    vertical-align: top;
}

.skill-level h2 {
    font-size: 95px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    color: #5B6A9A;
    letter-spacing: -5px;
}

.skill-meta {
    vertical-align: top;
    display: inline-block;
    max-width: 300px;
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
}

.skill-meta h3 {
    font-size: 20px;
    font-weight: 800;
    color: #5B6A9A;
    margin-bottom: 5px;
}

.skill-meta span {
    color: #81899C;
    line-height: 20px;
    font-size: 16px;
}

/* Achievements ends */


/* Timeline styles*/


ol {
    position: relative;
    display: block;
    margin: 100px 0;
    height: 2px;
    background: #EEF0F7;

}

ol::before,
ol::after {
    content: "";
    position: absolute;
    top: -10px;
    display: block;
    width: 0;
    height: 0;
    border-radius: 10px;
    border: 0px solid #31708F;
}

ol::before {
    left: -5px;
}

ol::after {
    right: -10px;
    border: 0px solid transparent;
    border-right: 0;
    border-left: 20px solid #31708F;
    border-radius: 3px;
}

/* ---- Timeline elements ---- */
/*li {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    float: left;*/
/*    width: 25%;*/
/*    height: 50px;*/
/*}*/

li .line {
    position: absolute;
    top: -47px;
    left: 1%;
    font-size: 20px;
    font-weight: 600;
    color: #04143A;
}

li .point {
    content: "";
    top: -7px;
    left: 0%;
    display: block;
    width: 8px;
    height: 8px;
    border: 4px solid #fff;
    border-radius: 10px;
    background: #4A90E2;
    position: absolute;
}

li .description {
    display: none;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    font-weight: normal;
    z-index: 1;
    max-width: 95%;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #5B6A9A;
}

.description::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f4f4f4;
    position: absolute;
    top: -5px;
    left: 43%;
}


.timeline .date {
    font-size: 14px;
    color: #81899C;
    font-weight: 300;
}

/* ---- Hover effects ---- */
li:hover {
    color: #48A4D2;
}

li .description {
    display: block;
}

#clear-button {
    float: right;
    margin-top: 5px;
    background: none;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#clear-button:hover {
    background: #aaaaaa;
}

#clear-button:active {
    background: #c3c3c3;
}

#requests_container {

    overflow: auto;
    max-height: 75vh;
    min-height: 75vh;
    padding: 15px;


}

.request.active {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

    background: rgb(243, 253, 255);
}

.hero {
    margin: 20px auto;
    position: relative;
    color: #b7b7b7;
}

.main-viewer {
    float: left;
    width: 50%;
    display: block;
}


.main-requests {
    float: left;
    width: 50%;
    display: block;

}


.card {
    width: 99%;
    background-color: #333438;
    display: inline-block;
    margin: 7px 5px;
    vertical-align: top;
    border-radius: 10px;
    text-align: center;
    padding: 8px 16px;
    font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;

}

.card.failure {

}

.url {
    display: block;
    color: #8899A6;
}

.url h3 {
    float: left;
    font-weight: 600;
    background: #48A4D2;
    color: #fff;
    padding: 5px;

    border-radius: 5px;
    margin-right: 10px;
}

.card.failure .url h3 {
    background: #a6606a;

}

.url h2 {
    font-size: 14px;
    font-weight: normal !important;
    color: rgb(196, 203, 201);
    vertical-align: center;
    height: 100%;
    padding-top: 8px;
    text-align: left;
    padding-left: 10px;

}

.meta {
    margin-top: 20px;
}

.meta .response {
    float: left;
    width: 200px;
    text-align: left;
    padding-right: 5px;
    font-size: 14px;
    font-weight: bold;
}

.meta .info {
    float: left;
    text-align: right;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 600;


}

.success .response {
    color: #6EAB0B;
}

.failure .response {
    color: #a6606a;

}

.response_length {
    font-size: 10px;
    color: #5f6060;

}

.response_length strong {
    font-weight: bold;
    font-size: 14px;
}
.meta .date {


}

.meta .date-container {
    float: right;
    text-align: center;
    font-size: 12px;
}

.meta .info .time {
    font-size: 14px;


}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* The element to apply the animation to */
.animatable {
    animation: slide-up 0.4s ease;
    transition: background 0.2s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

/* The element to apply the animation to */
.fade-animatable {
    animation: fade 0.4s ease;
    transition: background 0.2s ease-in-out;
}


/* Style the tab */
.wrapper {
    margin: 30px auto;
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    line-height: 24px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

h1 + p {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
}

.tabs li {
    float: left;
    width: 25%;
    font-size: 10px;
}

.tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #979797;
    padding: 20px 0;
    border-bottom: 2px solid #888;
    background: #323232;
}

.tabs a:hover,
.tabs a.active {
    background: #474747;
    color: #b8b8b8;
}

.tab-container {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    min-height: 550px;
    background: #2b303b;
    color: white;
    padding: 20px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/**
HEADERS
 */

.header_key {
    color: #d08770;
    font-weight: bold;
}


.header_value {
    color: #c0c5ce;
    margin-left: 8px;
}


/*
DATA
 */
.data-container {
    display: none;
}

/*
Query Params
*/
#request_params_container {
    background: #303540;
    border-bottom: 1px solid rgba(0, 0, 0, 0.41);
    margin: -20px -20px 10px -20px;
    padding: 20px;
}

#params_title {
    font-size: 16px;
    font-weight: bold;
}

/*
Search Box
 */
.search_box {
    width: 244px;
    outline: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 0 auto;
}

.search_box > .textbox {
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.search_box > .textbox:focus {
    outline: 0;
    background-color: #FFF;
}

/**
Detail view
 */
.selected-card-container {
    padding: 0 10px;
    display: none;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    text-decoration: none;

    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    outline: 0;
    border: 0;
    margin: auto;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.previous:hover {
    background-color: #f6f6f6;
    color: black;
}

.selected-card {
    width: 85vw;
    float: right;
}

/**
Responsive
 */

@media only screen and (max-width: 768px) {

    .main-viewer {
        float: left;
        width: 100%;
        display: block;
    }


    .main-requests {
        float: left;
        width: 100%;
        display: block;

    }

    h1.name {
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
    }

    .hero {

        margin: 0 auto;
        text-align: center;
    }

    .tab-container {
        max-height: 65vh;
        min-height: 65vh;
    }

    .container {
        margin: 10px auto;
    }

    .wrapper {
        margin: 5px auto;
    }

    .card-hider {
        display: none;
    }

    .detail-view {

    }
}